<div class="flex flex-col justify-between h-full">
  <ng-container *ngIf="dataset | async as data; else loading">
    <h2>{{ header }}</h2>
    <p class="text-5xl text-primaryDark dark:text-primary">
      {{ data.value | number: "1.2-2" }} €
    </p>
    <p class="text-sm text-gray-400 text-right">
      {{ data.timestamp | date: "dd MMM yy HH:mm" }}
    </p>
  </ng-container>

  <ng-template #loading>
    <fk-spinner class="h-full"></fk-spinner>
  </ng-template>
</div>
