<div class="h-full flex flex-col justify-between">
  <header class="flex justify-between">
    <h2>{{ header }}</h2>
    <div class="inline-block bg-gray-100 rounded-sm dark:bg-gray-900">
      <ng-container
        *ngFor="let day of allowedDays; let first = first; let last = last"
      >
        <button
          class="
            hover:bg-primaryDark hover:text-white
            text-primaryDark
            dark:hover:bg-primary dark:hover:text-gray-800 dark:text-primary
            px-4
            transition-all
            border border-transparent
          "
          [ngClass]="{
            'dark:border-primary border-primaryDark': days === day,
            'rounded-l': first,
            'rounded-r': last
          }"
          (click)="days = day"
        >
          {{ day.label }}
        </button>
      </ng-container>
    </div>
  </header>

  <div
    class="h-0 flex-grow w-full"
    *ngIf="dataset | async as graph; else loading"
  >
    <canvas
      baseChart
      [datasets]="graph.data"
      [labels]="graph.labels"
      [colors]="graph.colors"
      [legend]="true"
      chartType="line"
      [options]="options"
    ></canvas>
  </div>

  <ng-template #loading>
    <fk-spinner class="h-full"></fk-spinner>
  </ng-template>
</div>
