<header
  class="
    bg-white
    dark:bg-gray-900
    px-4
    h-10
    col-span-full
    flex
    justify-between
    items-stretch
  "
>
  <div class="flex items-center">
    <fk-logo cls="h-6 mr-4"></fk-logo>
    <h1>FireKraken</h1>
  </div>
  <button
    class="
      bg-transparent
      hover:bg-primaryDark hover:text-white
      text-primaryDark
      dark:hover:bg-primary dark:hover:text-gray-900 dark:text-primary
      px-6
      transition-all
    "
    (click)="logout()"
  >
    Logout
  </button>
</header>
