<div class="h-full flex flex-col justify-between">
  <h2>{{ header }}</h2>

  <div *ngIf="dataset | async as donut; else loading">
    <canvas
      baseChart
      [data]="donut.data"
      [labels]="donut.labels"
      [colors]="[{ backgroundColor: donut.colors }]"
      [legend]="false"
      chartType="doughnut"
      [options]="{
        aspectRatio: 1,
        legend: {
          align: 'center',
          position: 'bottom'
        },
        responsive: true
      }"
    ></canvas>
  </div>

  <ng-template #loading>
    <fk-spinner class="h-full"></fk-spinner>
  </ng-template>
</div>
