<main class="w-screen h-screen bg-primaryDark grid place-items-center">
  <section
    class="shadow-lg bg-white dark:bg-gray-800 lg:w-3/5 lg:h-5/6 flex flex-col lg:flex-row h-full w-full"
  >
    <aside
      class="lg:h-full lg:w-3/5 w-full h-1/2"
      style="
        background: url('/assets/octopus-by-qijin-xu.jpeg') no-repeat center
          center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      "
    ></aside>
    <div
      class="lg:h-full lg:w-2/5 w-full h-1/2 flex flex-col items-center lg-down:relative"
    >
      <fk-logo cls="h-40 -mt-20 lg:mt-32 mb-32"></fk-logo>

      <button
        class="flex items-center border border-transparent shadow font-medium rounded-sm text-white bg-primary hover:bg-primaryDark lg-down:absolute lg-down:top-1/2 lg-down:transform lg-down:-translate-y-1/2"
        (click)="login()"
      >
        <div class="bg-white p-2 rounded-l-sm">
          <img class="h-6" alt="Google logo" src="/assets/google.png" />
        </div>
        <span class="mx-8 uppercase"> Sign in with Google </span>
      </button>
    </div>
  </section>
</main>
