<div class="lg:h-screen w-screen flex flex-col">
  <fk-header></fk-header>
  <div class="dashboard gap-px grid flex-grow mt-px">
    <div class="card" style="grid-area: b">
      <fk-balance></fk-balance>
    </div>

    <div class="card" style="grid-area: a">
      <fk-ath></fk-ath>
    </div>

    <div class="card" style="grid-area: t">
      <fk-total></fk-total>
    </div>

    <div class="card" style="grid-area: qs">
      <fk-quantity-share></fk-quantity-share>
    </div>

    <div class="card" style="grid-area: vs">
      <fk-value-share></fk-value-share>
    </div>

    <div class="card" style="grid-area: av">
      <fk-asset-value></fk-asset-value>
    </div>
  </div>
</div>
