.dashboard {
  grid-template-columns: 1fr;
  grid-auto-rows: auto auto 50vh 50vh auto auto;
  grid-template-areas:
  "a"
  "t"
  "b"
  "av"
  "vs"
  "qs"
}

@media(min-width: 1024px) {
  .dashboard {
    grid-template-columns: 22vh 1fr auto;
    grid-auto-rows: 1fr 1fr 26vh 26vh;
    grid-template-areas:
      "b b a"
      "b b t"
      "vs av av"
      "qs av av"
  }
}
