@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Raleway, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2 {
  @apply dark:text-gray-400;
}

.card {
  @apply p-4 flex flex-col bg-white dark:bg-gray-800;
}

.card > * {
  @apply h-full;
}
